* {
  box-sizing: border-box;
  font-weight: bold;
}

body {
  font-family: "New Tegomin", serif;
  background-color: #37666b;
  margin: 0;
}

.grid-container {
  grid-template-rows: 85% auto;
  display: grid;
  gap: 20px;
  padding: 20px;
}

.Title-container {
  text-align: center;
  background-color: #0c484b;

  /* -webkit-box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.75); */
}

.title {
  color: white;
  font-size: 2rem;
}

.screen-graphs {
  border-radius: 10px;
  background-color: #0c484b;

  -webkit-box-shadow: 1px 1px 3px 0.3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 3px 0.3px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 3px 0.3px rgba(0, 0, 0, 0.75);  
}

#Red {
  margin: 0 auto;
  width: 100%;
  height: 90%;
}

.options-container {
  text-align: center;
  border-radius: 10px;
  gap: 20px;
  padding: 10px;
  
  background-color: #0c484b;

  -webkit-box-shadow: 1px 1px 3px 0.3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 3px 0.3px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 3px 0.3px rgba(0, 0, 0, 0.75); 
}



.btn {
  font-weight: bold;
  color: white;
  background-color: #e1a66f;
  border-radius: 5px;
  width: 39%;
  height: 25%;
  font-size: 1rem;
}

input {
  border-radius: 5px;
  text-align: center;
  width: 16%;
  height: 25%;
  font-size: 1rem;
}

select {
  border-radius: 5px;
  text-align: center; 
  width: 30%;
  height: 25%;
  font-size: 1rem;
}

#Text{
  width: 40%;
}

#addEdge{
  width: 26%;
}
#disconnect{
  width: 36%;
}

.toggleContainer {
   position: relative;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   width: fit-content;
   border: 4px solid #e1a66f;
   border-radius: 50px;
   background: #e1a66f;
   font-weight: bold;
   cursor: pointer;
 }
 .toggleContainer::before {
   content: '';
   position: absolute;
   width: 50%;
   height: 100%;
   left: 0%;
   border-radius:20px;
   background: #f7f5f2;
   transition: all 0.3s;
 }
 .toggleCheckbox:checked + .toggleContainer::before {
    left: 50%;
 }
 .toggleContainer div {
   padding: 6px;
   text-align: center;
   z-index: 1;
 }
 .toggleCheckbox {
   display: none;
 }
 .toggleCheckbox:checked + .toggleContainer div:first-child{
   color: #f7f5f2;
   transition: color 0.3s;
 }
 .toggleCheckbox:checked + .toggleContainer div:last-child{
   color: black;
   transition: color 0.3s;
 }
 .toggleCheckbox + .toggleContainer div:first-child{
   color: black;
   transition: color 0.3s;
 }
 .toggleCheckbox + .toggleContainer div:last-child{
   color: white;
   transition: color 0.3s;
 }




