* {
  box-sizing: border-box;
}

body {
  font-family: "New Tegomin", serif;
  background-color: #1ab17c;
  margin: 0;
}

.grid-container {
  grid-template-rows: 85% auto;
  display: grid;
  gap: 20px;
  padding: 20px;
}

.Title-container {
  text-align: center;
  background-color: #1784a9;

  /* -webkit-box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.75); */
}

.title {
  color: white;
  font-size: 2rem;
}

.screen-graphs {
  border-radius: 10px;
  background-color: #1784a9;

  -webkit-box-shadow: 1px 1px 3px 0.3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 3px 0.3px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 3px 0.3px rgba(0, 0, 0, 0.75);  
}

#Red {
  margin: 0 auto;
  width: 100%;
  height: 90%;
}

.options-container {
  text-align: center;
  border-radius: 10px;
  gap: 20px;
  padding: 10px;
  
  background-color: #1784a9;

  -webkit-box-shadow: 1px 1px 3px 0.3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 3px 0.3px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 3px 0.3px rgba(0, 0, 0, 0.75); 
}

/*.option {
  display: flex;
  flex-direction: row; 
} 
*/

.btn {
  color: white;
  background-color: rgb(244, 88, 71);
  border-radius: 10px;
  width: 39%;
  height: 25%;
  font-size: 1rem;
}

input {
  border-radius: 5px;
  text-align: center;
  width: 16%;
  height: 25%;
  font-size: 1rem;
}

select {
  border-radius: 5px;
  text-align: center; 
  width: 30%;
  height: 25%;
  font-size: 1rem;
}

#Text{
  width: 40%;
}

#addEdge{
  width: 26%;
}
#disconnect{
  width: 36%;
}






